############################################################
# Terraform
############################################################

terraform/.terraform/

terraform/*.tfstate

terraform/*.tfstate.*

terraform/tfplan

terraform/*.tfplan

terraform/crash.log

############################################################
# IDE
############################################################

.vscode/

.idea/

############################################################
# OS
############################################################

.DS_Store

Thumbs.db